Repository palantir/blueprint, pull requests merged in 2019-11, with the labels that each got.

#3786 [core] feat(Breadcrumb): render icon if provided through props
  packages/core/src/components/breadcrumbs/_breadcrumbs.scss
  packages/core/src/components/breadcrumbs/breadcrumb.tsx
  packages/core/test/breadcrumbs/breadcrumbTests.tsx
Labels: Package: core

#3787 [core] fix(PanelStack): do not trigger unintended animations
  packages/core/src/components/panel-stack/panelStack.tsx
Labels: Package: core

#3770 Ability to set max number of active toasts
  packages/core/src/common/errors.ts
  packages/core/src/components/toast/toaster.tsx
  packages/core/test/toast/toasterTests.ts
  packages/docs-app/src/examples/core-examples/toastExample.tsx
Labels: Package: core, Type: feature request

#3814 [core] fix(NumericInput): do not trigger onValueChange if value is changed via props
  packages/core/src/components/forms/numericInput.tsx
  packages/core/test/controls/numericInputTests.tsx
Labels: Status: work in progress
