Repository palantir/blueprint, pull requests merged in 2023-07, with the labels that each got.

#6273 [core] fix(Icon): use loaded paths in initial state if available
  packages/core/src/components/icon/icon.tsx
  packages/core/test/icon/iconTests.tsx
Labels: Type: enhancement, Package: core

#6272 [core] fix(SectionCard): rename component, fix Sass variable names
  packages/core/src/common/classes.ts
  packages/core/src/components/index.ts
  packages/core/src/components/section/_section.scss
  packages/core/src/components/section/section.md
  packages/core/src/components/section/section.tsx
  packages/core/src/components/section/sectionPanel.tsx
  packages/docs-app/src/examples/core-examples/sectionExample.tsx
Labels: Type: enhancement, Package: core

#6280 [core] chore: rename file sectionPanel.tsx
  packages/core/src/components/index.ts
  packages/core/src/components/section/sectionCard.tsx
Labels: Package: core

#6281 [docs-app] fix: show 'latest' versions in sidebar
  packages/docs-app/src/index.tsx
Labels: Type: bug, Domain: documentation

#6285 fix(Icon, SVGIconContainer): add generic type param to specify root element type
  packages/core/src/components/icon/icon.md
  packages/core/src/components/icon/icon.tsx
  packages/core/src/components/index.ts
  packages/core/test/icon/iconTests.tsx
  packages/icons/src/index.ts
  packages/icons/src/svgIconContainer.tsx
  packages/icons/src/svgIconProps.ts
  packages/icons/test/generatedIconsTests.tsx
  packages/icons/test/index.ts
  packages/icons/test/svgIconContainerTests.tsx
Labels: Package: core

#6293 fix: export private component types which are part of public API
  packages/core/src/components/icon/icon.tsx
  packages/core/src/components/index.ts
  packages/icons/src/index.ts
  packages/icons/src/svgIconContainer.tsx
Labels: Domain: API, Package: core, Package: icons

#6297 [core] fix(Callout): remove extra body element, revert DOM break
  packages/core/src/common/classes.ts
  packages/core/src/components/callout/_callout.scss
  packages/core/src/components/callout/callout.tsx
Labels: Package: core

#6303 [docs] fix: various documentation improvements
  packages/core/src/components/button/button-group.md
  packages/core/src/components/button/buttons.md
  packages/core/src/components/callout/callout.md
  packages/core/src/components/card/card.md
  packages/core/src/components/components.md
  packages/core/src/components/context-menu/context-menu-popover.md
  packages/core/src/components/dialog/dialog.md
  packages/core/src/components/editable-text/editable-text.md
  packages/core/src/components/forms/_input.scss
  packages/core/src/components/forms/control-group.md
  packages/core/src/components/forms/file-input.md
  packages/core/src/components/forms/fileInput.tsx
  packages/core/src/components/forms/input-group.md
  packages/core/src/components/forms/inputGroup.tsx
  packages/core/src/components/forms/label.md
  packages/core/src/components/forms/switch.md
  packages/core/src/components/forms/text-area.md
  packages/core/src/components/forms/textArea.tsx
  packages/core/src/components/hotkeys/hotkeys-target2.md
  packages/core/src/components/html-select/html-select.md
  packages/core/src/components/html-table/html-table.md
  packages/core/src/components/icon/icon.md
  packages/core/src/components/menu/menu.md
  packages/core/src/components/navbar/navbar.md
  packages/core/src/components/non-ideal-state/non-ideal-state.md
  packages/core/src/components/overlay/overlay.md
  packages/core/src/components/panel-stack/panel-stack.md
  packages/core/src/components/panel-stack2/panel-stack2.md
  packages/core/src/components/popover/popover.md
  packages/core/src/components/portal/portal.md
  packages/core/src/components/progress-bar/progress-bar.md
  packages/core/src/components/resize-sensor/resize-sensor.md
  packages/core/src/components/section/section.md
  packages/core/src/components/skeleton/skeleton.md
  packages/core/src/components/tabs/tabs.md
  packages/core/src/components/tag-input/tag-input.md
  packages/core/src/components/tag/tag.md
  packages/core/src/components/toast/toast.md
  packages/core/src/components/tooltip/tooltip.md
  packages/core/src/components/tree/tree.md
  packages/core/src/context/hotkeys/hotkeys-provider.md
  packages/core/src/hooks/hotkeys/use-hotkeys.md
  packages/core/src/legacy/hotkeys-legacy.md
  packages/datetime/src/components/date-input/date-input.md
  packages/datetime/src/components/date-input/dateInput.tsx
  packages/datetime/src/components/date-range-input/date-range-input.md
  packages/datetime/src/components/date-range-input/dateRangeInput.tsx
  packages/datetime/src/components/timezone-select/timezone-select.md
  packages/docs-app/src/blueprint.md
  packages/docs-app/src/examples/core-examples/index.ts
  packages/docs-app/src/examples/core-examples/numericInputBasicExample.tsx
  packages/docs-app/src/examples/core-examples/searchInputExample.tsx
  packages/docs-app/src/getting-started.md
  packages/select/src/components/multi-select/multi-select.md
  packages/select/src/components/select/select-component.md
  packages/select/src/components/select/select.tsx
  packages/select/src/components/suggest/suggest.md
  packages/select/src/components/suggest/suggest.tsx
Labels: Domain: documentation

#6290 [core] feat(InputGroup): new prop `onValueChange`
  packages/core/src/components/forms/inputGroup.tsx
  packages/core/src/components/forms/numericInput.tsx
  packages/core/test/controls/inputGroupTests.tsx
  packages/docs-app/src/components/icons.tsx
  packages/docs-app/src/examples/core-examples/breadcrumbsExample.tsx
  packages/docs-app/src/examples/core-examples/fileInputExample.tsx
  packages/docs-app/src/examples/core-examples/tabsExample.tsx
Labels: Type: enhancement, Package: core

#6306 [core] feat(TextArea): new `autoResize` prop allows input to shrink vertically
  packages/core/src/common/classes.ts
  packages/core/src/components/forms/_input.scss
  packages/core/src/components/forms/textArea.tsx
  packages/core/test/forms/textAreaTests.tsx
  packages/docs-app/src/examples/core-examples/textAreaExample.tsx
Labels: Type: enhancement, Package: core
