Repository palantir/blueprint, pull requests merged in 2023-02, with the labels that each got.

#5941 [datetime2] fix(DateInput2): gracefully handle invalid timezones
  packages/datetime2/src/common/errors.ts
  packages/datetime2/src/common/getTimezone.ts
  packages/datetime2/src/common/timezoneNameUtils.ts
  packages/datetime2/src/components/date-input2/dateInput2.tsx
  packages/datetime2/test/components/dateInput2Tests.tsx
  packages/datetime2/test/components/dateRangeInput2Tests.tsx
Labels: Package: datetime

#5837 chore: upgrade to Node v19
  .circleci/config.yml
  .nvmrc
  package.json
  packages/docs-data/compile-docs-data.mjs
  packages/docs-data/package.json
  packages/icons/scripts/common.mjs
  packages/node-build-scripts/assert-package-layout.mjs
  packages/node-build-scripts/package.json
  scripts/get-publishable-paths-from-semver-tags.mjs
  scripts/submit-comment-with-artifact-links.mjs
  scripts/utils.mjs
Labels: do not merge

#5966 [core] feat(TagInput): resizable input that scales as you type
  packages/core/src/common/classes.ts
  packages/core/src/components/_index.scss
  packages/core/src/components/tag-input/_resizable-input.scss
  packages/core/src/components/tag-input/_tag-input.scss
  packages/core/src/components/tag-input/resizableInput.tsx
  packages/core/src/components/tag-input/tagInput.tsx
  packages/core/test/tag-input/tagInputTests.tsx
Labels: Status: waiting on author

#5980 [popover2] fix(showContextMenu): close on backdrop click
  packages/popover2/src/contextMenu2Singleton.tsx
  packages/popover2/test/contextMenu2SingletonTests.tsx
Labels: Type: bug, Package: popover2
