Repository palantir/blueprint, pull requests merged in 2025-08, with the labels that each got.

#7537 Add console alert icon
  packages/icons/icons.json
  resources/icons/16px/console-alert.svg
  resources/icons/20px/console-alert.svg
Labels: Package: icons

#7547 [docs-theme]: Replace `codesandbox` dependency with `lz-string`
  packages/docs-theme/package.json
  packages/docs-theme/src/common/sandbox.ts
  packages/docs-theme/src/components/codeExample.tsx
  yarn.lock
Labels: Package: docs-theme, dependencies, no changelog

#7548 [docs] Add docs around `$pt-spacing` and note deprecation of `$pt-grid-size`
  packages/core/src/docs/variables.md
Labels: Domain: documentation, no changelog

#7551 [datetime] Fix interpolated variables in RDP overrides
  packages/datetime/src/common/_react-day-picker-overrides.scss
  packages/datetime2/src/common/_react-day-picker-overrides.scss
Labels: Package: datetime, no changelog
