Repository palantir/blueprint, pull requests merged in 2025-06, with the labels that each got.

#7469 chore: update pinned version of Chrome used by CI
  .circleci/config.yml
  packages/table/karma.conf.js
  packages/table/test/menusTests.tsx
Labels: Domain: testing, no changelog

#7475 Default copy selection when highlighting text in table cell
  packages/table/changelog/@unreleased/pr-7475.v2.yml
  packages/table/src/tableHotkeys.ts
Labels: Package: table, merge when ready

#7488 Added new icon and updated tags
  packages/icons/icons.json
  resources/icons/16px/selection-box-remove.svg
  resources/icons/20px/selection-box-remove.svg
Labels: Package: icons, no changelog

#7476 Cherry-pick commits from `develop`
  packages/icons/icons.json
  packages/table/changelog/@unreleased/pr-7475.v2.yml
  packages/table/src/tableHotkeys.ts
  resources/icons/16px/branch-locked.svg
  resources/icons/16px/branch-unlocked.svg
  resources/icons/16px/selection-box-remove.svg
  resources/icons/20px/branch-locked.svg
  resources/icons/20px/branch-unlocked.svg
  resources/icons/20px/selection-box-remove.svg
Labels: no changelog

#7454 feat(SegmentedControl): Add `disabled` option to control
  packages/core/src/components/segmented-control/segmentedControl.tsx
  packages/core/test/segmented-control/segmentedControlTests.tsx
  packages/docs-app/src/examples/core-examples/segmentedControlExample.tsx
Labels: Package: core, no changelog

#7211 [docs] Update Drawer example
  packages/docs-app/src/examples/core-examples/drawerExample.tsx
Labels: Domain: documentation, no changelog

#7213 [docs] Update state/progress component examples
  packages/docs-app/src/examples/core-examples/nonIdealStateExample.tsx
  packages/docs-app/src/examples/core-examples/progressExample.tsx
  packages/docs-app/src/examples/core-examples/spinnerExample.tsx
Labels: Domain: documentation, no changelog

#7214 [docs] Update Popover examples
  packages/docs-app/src/examples/core-examples/popoverDismissExample.tsx
  packages/docs-app/src/examples/core-examples/popoverExample.tsx
  packages/docs-app/src/examples/core-examples/popoverInteractionKindExample.tsx
  packages/docs-app/src/examples/core-examples/popoverMinimalExample.tsx
  packages/docs-app/src/examples/core-examples/popoverPlacementExample.tsx
  packages/docs-app/src/examples/core-examples/popoverPortalExample.tsx
  packages/docs-app/src/examples/core-examples/popoverSizingExample.tsx
Labels: Domain: documentation, no changelog

#7215 [docs] Update Tooltip Example
  packages/docs-app/src/examples/core-examples/tooltipExample.tsx
Labels: Domain: documentation, no changelog

#7222 [docs] Update core examples
  packages/docs-app/src/examples/core-examples/focusExample.tsx
  packages/docs-app/src/examples/core-examples/hotkeyTesterExample.tsx
  packages/docs-app/src/examples/core-examples/htmlSelectExample.tsx
Labels: Domain: documentation, no changelog

#7489 Add ref access to `DialogBody`/`DialogFooter` components.
  packages/core/src/components/dialog/dialogBody.tsx
  packages/core/src/components/dialog/dialogFooter.tsx
Labels: Package: core, no changelog

#7493 [KeyComboTag] Fix arrow key icon rendering
  packages/core/src/components/hotkeys/keyComboTag.tsx
  packages/core/test/hotkeys/keyComboTagTests.tsx
Labels: Package: core, no changelog

#7494 Allow non-control input elements to be visible inside of control components
  packages/core/src/common/classes.ts
  packages/core/src/components/forms/_controls.scss
  packages/core/src/components/forms/controls.tsx
Labels: Package: core, no changelog

#7490 [core] feat(Tag): a11y names for tags via button roles for tags with onClick behavior
  packages/core/src/components/tag/tag.tsx
Labels: Package: core, Domain: accessibility, no changelog
